#venue_section
  - @venues.each_with_index do |venue, index|
    .box
      %h3= "Venue #" + index.to_s
      = form_for venue, method: :patch, :html => {:id => "venue_#{index}"}, remote: true do |f|
        %h4 Location (Address)
        = f.text_field :address, :value => venue.address, :class => "requirement"
        %h4 Catogory
        = f.text_field :category, :value => venue.category, :class => "requirement"
        %h4 Open Time From
        = f.text_field :open_times_from, :value => venue.open_times_from.nil? ? "" : venue.open_times_from.strftime("%H:%M"), :class => "time"
        %h4 Open Time To
        = f.text_field :open_times_to, :value => venue.open_times_to.nil? ? "" : venue.open_times_to.strftime("%H:%M"), :class => "time"
        %h4 Attendee Count
        = f.number_field :attendee_count, :value => venue.attendee_count, :class => "loc numeric"
        %h4 Contact Point
        = f.text_field :contact, :value => venue.contact, :class => "requirement"
        %h4 Is Booked?
        = f.check_box :booked, :value => venue.booked
        = f.submit 'Update', :onclick => "update_latlong(#{index});"
        = f.hidden_field "x", :value => venue.x
        = f.hidden_field "y", :value => venue.y
      = button_to 'Delete', venue, method: :delete, remote: true, data: { confirm: 'Are you sure?' }
      %table.full.list
        %tr
          %th Person
          %th DIST
          %th INT
          %th INF
          %th VAL
        - venue.venue_person_values.each_with_index do |vpv, idx|
          %tr
            %td= "Person #" + idx.to_s
            %td= vpv.dist
            %td= vpv.person_value.int_lvl
            %td= vpv.person_value.influence
            %td= vpv.value
        %tr.sum
          %td
          %td= venue.sum_dist
          %td 
          %td 
          %td= venue.sum_value