#person_section
  - @person_values.each_with_index do |person, index|
    .box
      %h3= "Person #" + index.to_s
      = form_for person, method: :patch, remote: true do |f|
        %h4 Location (X,Y)
        = f.text_field :x, :value => person.x, class: "loc numeric"
        = f.text_field :y, :value => person.y, class: "loc numeric"
        %h4 Influence (higher is better)
        = f.text_field :influence, :value => person.influence, class: "loc numeric"
        %h4 Availability Range
        = f.text_field :availability_from, :value => person.availability_from.nil? ? "" : person.availability_from.strftime("%H:%M"), class: "time"
        = f.text_field :availability_to, :value => person.availability_to.nil? ? "" : person.availability_to.strftime("%H:%M"), class: "time"
        %h4 Keywords
        = f.text_field :keywords, :value => person.keywords, class: "requirement"
        = f.submit 'Update'
      = button_to 'Delete', person, method: :delete, remote: true, data: { confirm: 'Are you sure?' }
      %p.sum
        INT LVL = 
        %span{:id => "person_int_lvl#{index}"}= (person.int_lvl.to_f * 100)
        %span %
      .notice{:id => "push_notice_received#{index}", style: "display:none;"} Push Notification Received
      .add{:id => "join#{index}", :style => "display:none;", :onclick => "join_notification(this);", :data => {:id => person.id}} + Join

  = hidden_field_tag "person_count", @person_values.length, { :id => "person_count" }